.ds-panel {
  border-left: 8px solid transparent;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.ds-panel--success {
  border-color: var(--ons-color-success) !important;
}

.ds-panel__icon {
  position: relative !important;
  padding: 0 !important;
}

.ds-panel__body {
  background: none;
  padding: 0;
}

.ds-panel__icon+.ds-panel__body {
  padding-left: 0.7rem;
}