name: Publish release

on:
  pull_request:
    types: [closed]

jobs:
  merge_pr:
    name: Merge PR to main
    if: ${{ github.event.pull_request.base.ref == 'main' && github.event.pull_request.head.ref == 'create/release' && github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Get version from package.json
        id: get-version
        run: echo "PACKAGE_VERSION=$(jq -r '.version' package.json)" >> $GITHUB_ENV
      - name: Create tag and release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "v${{ env.PACKAGE_VERSION }}"
          release_name: "v${{ env.PACKAGE_VERSION }}"
          draft: false
          prerelease: false
          body: |
            $(cat .github/release.yml)
